/* WordPress specific (and required) CSS */

.aligncenter {
  @extend .text-center;
}

.alignright {
  @extend .text-right;
}

.alignleft {
  @extend .text-left;
}

.wp-caption {
  @extend .text-body;
}

.wp-caption-text {
  @extend .text-muted;
}

.gallery-caption {
  @extend .text-muted;
}

.bypostauthor {
  display: block;
}

.bypostauthor .avatar {
  border: $border-width solid $primary;
}

nav.navbar {
  margin-bottom: $spacer * 1.5;
}

nav.navbar form {
  @extend .form-inline;
  @extend .my-2;
  @extend .my-lg-0;
}

nav.navbar form input[type=search] {
  @extend .form-control-sm;
}

nav.navbar form input[type=submit] {
  @extend .btn-sm;
  height: 2rem;
  padding: 0 $btn-padding-x-sm;
}

article.post:not(:first-of-type) {
  margin-top: $spacer * 3;
}

.updated:not(.published) {
  display: none;
}

.nav-links {
  margin: $spacer;
}

.pagination {
  margin: $spacer;
}

.entry-footer > span:not(:last-of-type) {
  padding-right: $spacer;
}

.comments-area {
  margin: $spacer * 1.5 0;
}

.comments-title {
  font-size: $h4-font-size;
}

.comment-navigation {
  margin: $spacer;
}

.comment-navigation div:not(:last-of-type) {
  padding-right: $spacer;
}

.comment {
  list-style: none;
}

.comment .comment-body {
  margin-top: $spacer * 1.5;
}

.comment .comment-author .avatar {
  border-radius: $border-radius;
  margin-right: $spacer / 2;
}

.comment .comment-author .fn {
  font-size: $font-size-base;
}

.comment .comment-author .says {
  display: none;
}

.comment-metadata {
  font-size: $font-size-sm;
  margin-bottom: $spacer / 2;
}

.comment-reply-title {
  font-size: $h4-font-size;
}

.comment-form-comment {
  @extend .form-group;
}

body > footer {
  margin-top: $spacer * 2;
  padding-top: $spacer;
  padding-bottom: $spacer * 3;
}

body > footer h2.widget-title {
  font-size: $font-size-base;
  margin-bottom: 0;
}

/* Source: https://make.wordpress.org/accessibility/handbook/markup/the-css-class-screen-reader-text/ */

.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal !important;

  &:focus {
	background-color: #eee;
	clip: auto !important;
	clip-path: none;
	color: #444;
	display: block;
	font-size: 1em;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000;
  }
}

/* Font Awesome */

.more-link i.fas, .more-link i.far, .more-link i.fal, .more-link i.fad, .more-link i.fab {
  padding-left: $spacer / 2;
}

.entry-footer i.fas, .entry-footer i.far, .entry-footer i.fal, .entry-footer i.fad, .entry-footer i.fab {
  padding-right: $spacer / 2;
}

.nav-links i[class$="left"] {
  padding-right: $spacer / 2;
}

.nav-links i[class$="right"] {
  padding-left: $spacer / 2;
}

/* Forms */

input[type=text], input[type=search], input[type=url], input[type=tel], input[type=number], input[type=range],
input[type=date], input[type=month], input[type=week], input[type=time], input[type=datetime], input[type=datetime-local],
input[type=color], input[type=email], input[type=file], input[type=submit], select, textarea {
  @extend .form-control;
  max-width: 720px;
}

input[type=submit] {
  @extend .btn;
  @extend .btn-outline-primary;
  width: auto;
}
